div.gallery {
  margin: 5px;
  border: 1px solid #db1414;
  float: left;
  width: 500px;
   background-color: #eb5a8a;

}

div.gallery:hover {
  border: 1px solid #8b2d2d;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}