@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

body{
  background-image:url(bg.PNG);
  font-family: cursive;
  color: #202d71;
  font-size: 18px; /* gave a background image, changed the font, colour and font size */
}

header{
    color: white; /* Colour of the text */
    background-color:  #b859ab; /* Changed the background colour according to the requirement */
    text-align: center; /* Aligned the text to the center */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 700; /* Used the font and the font family as per the requirement */
    padding: 20px 0; /* Length and percent of the padding */
}

nav a{
    color: white; /* Colour of the text */
    font-family: Arial, Helvetica, sans-serif; 
    font: 400; /* Used the font and the font family as per the requirement */
    font-size: large; /* Size of the font is made large */
    text-decoration: none;
    padding: 10px;
}

main{
    display: flex;  /* To split the page into two */
    font-family:Arial, Helvetica, sans-serif; 
    font: 400; /* Used the font and the font family as per the requirement */
}

.welcome{
    font-size:larger;
    flex: 2;
    color: #000000; /* Colour of the text */
    padding: 30px;
}

.sidebar{
    flex: 1;
    padding: 30px;  
    color: #030303; /* Colour of the text */
    margin-top: 20px; /* Spacing between the top and the sidebar*/
    margin-bottom: 20px; /* Spacing between the bottom and the sidebar */
    font-size: larger; /* Makes the font look larger */
}

.sidebar ul li{
    list-style-type: none;
    padding-bottom: 20px; /* Spacing between the lists */
}

.sidebar ul li::before{
    content: "-"; /* To give dash to the lists*/
    text-indent: 5px;
    color: #37a0ad; /* Colour of the text */
}
