
        #basic styling for the body
        body {
            font-family: Arial, sans-serif;
            max-width: 1200px;
            margin: 50 auto;
            padding: 30px;
        }
        #styling for image
        image-container {
            margin-bottom: 40px;
            text-align: center;
            
        }

        #styling for images with CSS filters
        img {
            filter: brightness(125%) contrast(115%) saturate(100%);
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(9, 175, 125, 0.849);
        }
 